@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    
}



body{

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    
    

}

header{
    background-color: #FFFFFF;
    

}

div.cabeçalho{
    color: #f0f0f5;
    background-color: #13131A;
    height: 40px;
    
    
}

nav > a{
    color: rgba(102, 102, 102, 0.836);
    text-decoration: none;
    padding: 20px;
    font-size: 1.2em;
    

}

nav{
    text-align: center;
    
    
}

header > p{
    color: #f0f0f5;
    background-color: #231F20;
    text-align: center;
    padding: 10px;
    justify-content: flex-end;
    
}

#loja{
    text-align: end;
    position: absolute;
    top: 0%;
    left: 88%;
}

#gps{
    text-align: end;
    position: absolute;
    top: 11px;
    left: 87%;
}

header > p > span{
    font-weight: bolder;
}

input{
    margin: 0px 28% 0px 32%;  
    display: block;
    margin: auto;
    background-color: #F5F5F5;
    border-radius: 50px;
    
}



.container {
    height: 20px;
    width: 50px ;
    position: absolute;
    top: 15%;
    left: 60%;
    transform: (-50%, -50%);
    
}

.search-bar {
    padding: 10px;
    width: 300px;
    
}

.imagem{
    margin: 0px 0px 0px 80px ;
}

.imagemlupa{
    position: absolute;
    top: 16%;
    left: 81%;
    transform: (-50%, -50%);
    z-index: 1;
}


a::after{
    content: "";
    position: absolute;
    background-color: #E81C24;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover::after{
    width: 100%;
}

a:hover{
    color: #231F20;
}

a{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: #a0a0a0;
    font-size: 1.2em;
    letter-spacing: 0.5px;
    
}
a:after{
    content: "";
    position: absolute;
    background-color: #E81C24;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
a:hover:after{
    width: 100%;
}

.icon{
    position: absolute;
    top: 15%;
    left: 85%;
    transform: (-50%, -50%); 
    font-weight: bolder;
    
}

#heart{
    padding: 5px;
}

#perfil{
    padding: 5px;
}
#sacola{
    padding: 5px;
}
.content {
    height: 600px;
    width: 1300px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    box-shadow: 0px 0px 10px 0px black;
    
    
}
.content .slide img {
    height: 100%;
    width: 100%;
}

.navigation {
    position: absolute;
    bottom: 160px;
    left: 850px;
    display: flex;
    position: absolute;
    top: 127%;
    left: 44%;
    

    
}

.bar {

    width: 15px;
    height: 10px;
    border: 2px solid #231F20;
    margin: 6px;
    border-radius: 10%;
    cursor: pointer;
    transform: 3s ease;

}

.bar:hover {
    background-color: grey;
}

.input1 {
  display: none;
  
  
  
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: .6s;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
} 

#slide2:checked ~ .s1 {
    margin-left: -20%;
} 

#slide3:checked ~ .s1 {
    margin-left: -40%;
    
} 

#slide4:checked ~ .s1 {
    margin-left: -60%;
} 

#slide5:checked ~ .s1 {
    margin-left: -80%;
} 

footer{
    background-color: #231F20;
    display: block;
    margin-top: 800px;
    color: white;
    padding: 10px;
    text-align: center;
    height: 350px;
}

footer > p{
    text-align: justify;
    
}

.coluna1{
    position: absolute;
    top: 168%;
    left: 4%;
    text-align: justify;
    
}

.coluna1 > p{
    padding: 20px;
    background-color: #231F20;
    font-size: 14px;
}

#Institucional{
    font-size: 1.2em;
    position: absolute;
    top: 163%;
    left: 63px;
    background-color: #231F20;
}

.coluna2{
    position: absolute;
    top: 168%;
    left: 20%;
    text-align: justify;
}

.coluna2 > p{
    padding: 20px;
    background-color: #231F20;
    font-size: 14px;
}

#saibamais{
    font-size: 1.2em;
    position: absolute;
    top: 163%;
    left: 290px;
    background-color: #231F20;
}

#pagamento{
    position: absolute;
    top: 163%;
    left: 40%;
    text-align: justify;
    font-size: 1.2em;
}

#formas{
    position: absolute;
    top: 168%;
    left: 40%;
}

#extra{
    text-align: center;
    font-size: 1em;
    padding: 10px;
    color: grey;
    
}